playground/
src/backups/
src/notes/
src/hashed_notes
src/notes_data.json
src/js/os_info.js
node_modules/
command_list.json
.not_in_use.js
.backup_of_notes.json
.DS_Store
src/js.sublime-workspace
notes_data.json